.result {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  gap: 10px;
  padding-top: 20px;
}
.container {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
}
.number {
  color: var(--color-purple);
}
.text {
  color: var(--color-black);
}

@media (min-width: 900px) {
  .result {
    padding-top: 0px;
    gap: 15px;
  }
  .container {
    font-size: 88px;
    gap: 15px;
  }
}
